/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerDarkBlue {
  background-color: #003366; /* Dark blue */
  color: white; /* Optional: Ensure text is readable */
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerWithBackground {
  background-image: url('./DarkBlueWithStars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Adjust text color for better visibility */
}

.centerImage {
  border: 2px solid white; /* White border */
  border-radius: 50%; /* Circular shape */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  padding-top: 2rem; /* Adjust the value to your preferred padding */
}