.eventsSection {
  padding: 2rem 0;
}

.eventRow {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.imageColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensures the image fits nicely within the circular shape */
}

.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
